#acf-contact-form {
  border: 0;
  padding: 0;

  legend {
    font-weight: bold;
  }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    label {
      display: block;
      font-weight: bold;
    }

    & + li {
      margin-top: rem(30px);
    }
  }

  .acf-contact-form-required span:after {
    content: '⭐'
  }

  input,
  textarea {
    width: 100%;

    @include onTablets {
      max-width: 50%;
      width: rem(500px);
    }
  }

  textarea {
    height: 200px;
  }
}
