.header {
  margin-bottom: rem(60px);
  text-align: center;

  .header-link {
    color: $black;
    outline: none;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .site-title-and-menu {
    margin: rem(60px) 0 rem(30px);

    #site-title {
      font-size: rem(40px);
      font-weight: bold;
      padding-bottom: 0;
    }

    .menu {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        font-weight: bold;
        padding: rem(5px) rem(10px);
      }

      li + li {
        border-left: 1px solid $black;
      }
    }
  }

  .motto {
    background: url("images/wordmark.jpg") center center no-repeat;
    background-size: contain;
    height: 300px;
  }

  @include onTablets {
    display: grid;
    grid-column-gap: rem(60px);
    grid-template-columns: 33% auto;
    text-align: left;

    .header-link {
      display: inline-grid;
    }

    #site-title {
      align-self: end;
      padding-bottom: rem(30px);
    }

    .header-link.motto {
      grid-row: 1;
    }
  }
}
