#content {
  text-align: left;

  @include onTablets {
    .videos {
      display: grid;
      grid-gap: rem(20px);
      grid-template-columns: repeat(3, 1fr);

      @include onScreens {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .video header .featured-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $black;
    height: 250px;
    width: auto;
  }
}
