html {
  box-sizing: border-box;
  color: $black;
  font: normal 125%/1.6 $serif; // usually 20px
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  max-width: rem(1200px);
  width: 96%;
}

a {
  &:link,
  &:visited {
    color: $teal;
  }

  &:active,
  &:focus,
  &:hover {
    color: $purple;
  }
}

.site-footer {
  background-color: $purple;
  border-top: 5px solid $black;
  color: $white;
  margin-top: rem(60px);
  text-align: center;
}
