html {
  box-sizing: border-box;
  color: $black;
  font: normal 125%/1.6 $serif; // usually 20px
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  &:link,
  &:visited {
    color: $black;
  }

  &:active,
  &:focus,
  &:hover {
    color: $purple;
  }
}

body {
  font-size: rem(18px);

  /*&.admin-bar {
    margin-top: -32px;
  }*/
}

nav .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
